language = "csharp"
run = "mcs -out:main.exe 'main.cs' 'Categoria.cs' 'Produtos.cs' 'NCategoria.cs' 'NProdutos.cs' 'Mesa.cs' 'NMesa.cs' 'VendaItem.cs' 'Venda.cs' 'NVenda.cs' 'Arquivo.cs' ; mono main.exe"